@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum"),
       url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: local("Cuprum"),
       url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: local("Cuprum"),
       url("../fonts/cuprumbolditalic.woff2.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: local("Cuprum"),
       url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans"),
       url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}

:root {
--basic-light-red: #EE3643;
--basic-darkblue:  #293449;
--basic-white: #FFFFFF;
--basic-white-1: 	rgba(255,255,255, 0.3);
--basic-yellow: #FFBF47;
--basic-blue: #3BBCE3;
--basic-purple: #DC91D8;
--basic-light-green: #8ED78F;
--basic-light-beige: #F9F5F0;
--basic-black: #000000;
--basic-light-grey:  #F1F5F7;;
--basic-darkblue-2:  #32425C;
--basic-beige:  #FFD180;
--basic-green: #63A63E;
--basic-superlight-grey: #F7F3EC;
--basic-cloudy-color: #F2F6F8;
--basic-bright-grey: #A9A9A9;
--basic-button-color:  rgba(0, 0, 0, 0.0001);
--basic-dark-red: #BA2732;
--basic-bright-green: #5FBB2D;
--basic-superdark-blue: #1D2739;
--basic-red: #CA2C37;
--basic-dark-green: #518534;
--basic-grey: #C5C5C5;
--basic-navy-blue: #3D546F;
--basic-superdark-navy-blue: #161D29;
--basic-icon-darkblue: #212A3A;
--basic-superlight-beige: #F7F3EC;
--basic-superlight-dark: rgba(0, 0, 0, 0.25);
--basic-border-color: #EAEAEA;
}

.page {
  height: 100%
  }

.page-body {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.catalog-main-content{
  font-family:"PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: grid;
  grid-template-columns: max-content 1fr;
  width: 940px;
  margin: 0 auto;
}
.special-ul {
  list-style: none;
}

.special-title{
  position: absolute;
  visibility: hidden;
}

.main-header {
  background: url("../img/other-img/top-background.png") rgba(0, 0, 0, 0.0001);
  margin-bottom: 59px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.main-section-customer {
  width: 100%;
  background: var(--basic-darkblue);
  color: var(--basic-white);
  margin-bottom: 42px;
}

.catalog-main-header{
  margin-bottom: 21px;
}

.header-special-navigation {
  display: flex;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.customer-navigation {
  grid-column: 3/4;
}

.customer-navigation-list{
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.main-form{
  display: flex;
}
.main-searching{
  display: flex;
}

.searching {
  margin: 0px;
  margin-right: 226px;
}

.main-logo {
  background: var(--basic-light-red);
  max-height: 18px;
  padding: 12px 56px 12px 56px;
  margin-right: 42px;
}

.main-section-contacts {
  display: flex;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.text-field{
  display: none;
}

.bookmark{
  margin-right: 73px;
}
.cart{
  margin-right: 26px;
}

.content-link,
.section-customer-button {
  text-decoration: none;
  color: var(--basic-white)
}

.main-customer-button{
  background: var(--basic-green);
  padding: 9px 16px 9px 19px;
}

.shop-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  width: max-content;
  height: max-content;
  margin: 0;
  margin-right: 93px;
  color: var(--basic-light-red);
}
.shop-description-container{
  width: max-content;
  margin-left: 29px;
}

.contact-phone {
  padding: 7px 45px 8px 74px;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-light-red);
  padding: 7px 45px 8px 74px;
  font-weight: bold;
  text-decoration: none;
}
.main-phone-number{
  margin-top: 11px;
}

.contact-description {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-darkblue-2);
  padding-left: 6px;
  margin-top: 11px;
  margin-bottom: 0px;
}

.contact-description-special {
  color: var(--basic-white)
}

.contact-inf {
  width: max-content;
  margin-right: 69px;
  text-align: center;
}

.contact-login-item{
  margin-right: 10px;
  font-size: 21px;
  line-height: 21px;
  min-height: 45px;
  display: flex;
  align-items: center;
  padding-right: 27px;
  padding-left: 45px;
}
.contact-registration-item{
  min-height: 45px;
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
}

.login-link {
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.registration-link {
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.contact-links-list{
  width: max-content;
  padding: 0;
  display: flex;
  margin: 0;
  margin-top: -20px;
}

.contact-links-item{
  background: url("../img/other-img/header-background.png") var(--basic-button-color);
  text-align: center;
}

.site-navigation{
  margin-bottom: 65px;
}

.site-navigation-list {
  background: var(--basic-darkblue-2);
  margin-bottom: 65px;
  width: 940px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}
.special-content-item{
  padding-top: 16px;
  padding-bottom: 15px;
  padding-right: 28px;
  padding-left: 28px;
}
.special-content-item:last-child{
  padding-right: 53px;
}

.special-content-item:first-child{
  padding-left: 53px;
}

.goods-cards-list {
  width: 940px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto 60px auto;
  padding-left: 0px;
}

.good-title {
  font-weight: 700;
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  margin: 0px;
  margin-bottom: 14px;
  margin-top: 20px;
  margin-left: 23px;
}

.goods-cards-item {
background: var(--basic-yellow);
}

.goods-item-button {
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
}

.goods-button-container{
  background: var(--basic-white-1);
  width: max-content;
  padding: 10px 24px 10px 23px;
  margin-bottom: 21px;
  margin-left: 23px;
}
.goods-button-container-2{
  padding-right: 26px;
  padding-left: 26px;
}

.goods-button-container-3{
  padding-right: 31px;
  padding-left: 30px;
}

.goods-button-container-4{
  padding-right: 23px;
  padding-left: 22px;
}

.goods-button-container-5{
  padding-right: 37px;
  padding-left: 36px;
}

.goods-cards-item-2{
  background: var(--basic-blue);
}

.goods-cards-item-3{
  background: var(--basic-purple);
}

.goods-cards-item-4{
  min-height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/other-img/content-decorate-img.jpg") no-repeat center;
  grid-column: 1/3;
  grid-row: 2/4;
}

.goods-cards-item-5{
  background: var(--basic-light-green);
}
.perforator-container{
  min-height: 104px;
  background: var(--basic-superlight-dark);
}

.good-title-perforators{
  margin: 0;
  padding-top: 23px;
  padding-left: 24px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.open-catalog-container{
  display: flex;
  padding: 11px 46px 9px 46px;
  background: var(--basic-light-red);
  width: max-content;
  margin-bottom: 27px;
  margin-left: 24px;
}

.good-title-add {
  margin: 0;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 16px;
  color: var(--basic-white);
}

.button {
  background: var(--basic-light-red);
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  border: none;
  padding: 0;
}

.popular {
  background: var(--basic-light-beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto 20px auto;
}

.popular-special {
  margin: 70px auto 20px auto;
}

.popular-button{
  padding: 11px 24px 9px 24px;
  margin-right: 14px;
}

.manufacturer-button{
  padding: 11px 38px 9px 39px;
  margin-right: 19px;
}

.popular-goods-list {
  padding-left: 0px;
  display: grid;
  width: 940px;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
  margin: 0 auto;
}
.popular-goods-item{
  display: flex;
  flex-direction: column;
  min-height: 318px;
  border: 1px solid var(--basic-border-color);
  box-sizing: border-box;
}

.bosch-item-1{
  margin: 6px 18px 8px 18px;
}

.bosch-item-2{
  margin: 29px 53px 38px 40px;
}
.bosch-item-3{
  margin: 22px 43px 28px 33px;
}

.bosch-item-4{
  margin: 29px 53px 38px 40px;
}

.manufacturers-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 940px;
  padding: 0px;
  gap: 20px;
  margin: 0 auto 70px auto;
}

.manufacturer-item{
  width: 220px;
  height: 145px;
  border: 1px solid var(--basic-border-color);
  box-sizing: border-box;
}

.manufacturer-img-1{
  padding: 54px 47px;
}

.manufacturer-img-2{
  padding: 50px 49px 55px 48px;
}

.manufacturer-img-3{
  padding: 48px 37px 53px 37px;
}

.manufacturer-img-4{
  padding: 34px 11px 35px 9px;
}

.manufacturer-img-5{
  padding: 58px 23px 56px 28px;
}

.manufacturer-img-6{
  padding: 35px 51px 37px 48px;
}

.manufacturer-img-7{
  padding: 23px 34px 24px 35px;
}

.manufacturer-img-8{
  padding: 38px 6px 38px 8px;
}

.content-title {
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-darkblue-2);
  margin: 0px;
  margin-left: 28px;
  margin-top: 29px;
  margin-bottom: 30px;
}

.goods-naming {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  margin-left: 17px;
  margin-right: 18px;
  margin-bottom: 7px;
}

.goods-cost {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: var(--basic-bright-grey);
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 13.14px;
}

.cost-button {
  width: max-content;
  padding: 10px 44px 10px 32px;
  margin-right: 32px;
  margin-bottom: 21px;
  margin-left: 47px;
  font-family:"PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: var(--basic-light-red);
  text-decoration: none;
}

.additionals-container{
  background: var(--basic-light-grey);
  width: 100%;
}

.additionals {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  padding-bottom: 100px;
}

.additionals-content-text{
  margin: 0;
  margin-bottom: 70px;
}

.services{
  grid-column: 1/3;
}

.possibilities{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 80px;
}

.delivery{
  margin: 0;
}

.delivery-title{
  margin: 0px;
  margin-bottom: 30px;
  font-weight: normal;
}

.delivery-content-text{
  margin: 0px;
}

.for-technomart-section {
  width: 940px;
  display: grid;
  margin: 70px auto 0 auto;
  grid-template-columns: 1fr 300px;
  column-gap: 120px;
}

.for-technomart-title{
  margin: 0;
  margin-bottom: 24px;
  font-weight: normal;
}

.for-technomart-text-1{
  margin: 0;
  margin-bottom: 30px;
  width: 460px;
}

.for-technomart-text-2{
  margin: 0;
  margin-bottom: 1px;
}

.content-text {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-button {
  border: none;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background: var(--basic-darkblue-2);
}

.services-button-1{
  padding: 13.5px 139px 17.5px 22px;
  margin-bottom: 1px;
}

.services-button-2{
  padding: 13.5px 140px 17.5px 22px;
  margin-bottom: 1px;
}

.services-button-3{
  padding: 13.5px 156px 17.5px 23px;
}

.about-company .content-title {
  color: var(--basic-black);
}

.about-company-list{
  margin: 0px;
  padding: 0px;
  margin-left: 35px;
}

.about-company-item-p{
  margin: 0px;
}

.about-company-item{
  margin-bottom: 12px;
}

.about-company-item:last-child{
  margin-bottom: 20px;
}

.about-company-button{
  width: max-content;
  display: flex;
  padding: 11px 40.3px 9px 39.7px;
  background: var(--basic-light-red);
}

.contacts-content-title{
  font-weight: normal;
  margin: 0px;
  margin-bottom: 24px;
}

.contacts-content-text{
  margin: 0px;
  margin-bottom: 35px;
}

.contacts-img{
  margin-left: -40px;
}

.contacts-button{
  width: max-content;
  display: flex;
  padding: 11px 61.1px 9px 61.9px;
  background: var(--basic-light-red);
}

.main-footer {
  margin-top: 70px;
  background: var(--basic-darkblue-2);
}

.footer-contact-description{
  padding: 0px;
  font-size: 18px;
  margin: 0px;
}

.footer-logo{
  height: 23px;
  width: max-content;
  padding: 20px 41px;
  margin-bottom: 27px;
  background: var(--basic-light-red);
}

.footer-special-inf{
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

.footer-block-contacts{
  margin-left: 3px;
  padding-bottom: 55px;
}

.helpful-links-container{
grid-column: 3/4;
}

.helpful-links-list{
  display: flex;
  min-width: 546px;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 34px;
}

.footer-nav{
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 62px;
}

.services-content-title {
  color: var(--basic-black);
  margin: 0;
  margin-top: 64px;
  font-weight: normal;
  margin-bottom: 25px;
}

.footer-contacts {
  background: var(--basic-darkblue);
  color: var(--basic-white);
}

.footer-contacts-container{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-contact-phone {
  text-decoration: none;
  color: var(--basic-white)
}

.footer-nav .content-link{
  color: var(--basic-beige);
}

.content-text-container{
  display: flex;
  align-items: center;
  margin-right: 161px;
  margin-top: 36px;
  margin-bottom: 37px;
}

.footer-content-text {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.footer-contact-text{
  margin-right: 51px;
  margin-top: 35px;
}

.footer-contact-text:last-child{
  margin-right: 0px;
}

.footer-icon-list{
  margin: 0;
  padding: 0;
  margin-right: 118px;
}

.footer-main-contacts{
  display: flex;
  margin-right: 13px;
}

.footer-email-link,
.footer-site-link {
  color: var(--basic-beige);
}

.footer-contact-link{
  text-decoration: none;
}

.main-customer-button:hover {
  background: var(--basic-bright-green);
}

.main-logo:active {
  background: var(--basic-dark-red);
}

.customer-list-item-active:active {
  background: var(--basic-superdark-navy-blue);
}

.customer-content-link:active {
   opacity: 0.5;
}

.contact-link:hover {
  color: var(--basic-light-red)
}

.contact-link:active {
  color: var(--basic-grey)
  }

.site-navigation-item:hover {
  background: var(--basic-darkblue);
  }

.site-navigation-item:active {
  background: var(--basic-superdark-blue);
  }

.goods-item-button:hover {
  background: var(--basic-grey);
}

.goods-item-button:active {
  background: var(--basic-text-grey);
 }

.goods-cards-button:hover{
  background: var(--basic-red);
 }

.goods-cards-button:active{
  background: var(--basic-dark-red);
}

.additionals-button:hover {
  background: var(--basic-darkblue);
}

.additionals-button:active {
  background: var(--basic-white);
  color: var(--basic-darkblue-2);
}

.content-link:hover {
  text-decoration: underline;
}

.content-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-contact-link:hover {
  text-decoration: underline;
}

.footer-contact-link:active {
  text-decoration: underline;
  color: var(--basic-dark-red);
}

.footer-icon {
  background: var(--basic-icon-darkblue);
}

.footer-icon:hover {
  background: var(--basic-light-red);
}

.footer-icon:active {
  background: var(--basic-light-red);
}

.catalog-nav {
  grid-column: 1/-1;
}

.catalog-nav-link {
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-filter {
  background: var(--basic-superlight-grey);
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
}

.filter-title {
  color: var(--basic-black);
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.catalog-choice-item {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-choice-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sorting-link{
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.3;
}

.catalog-switch-button {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-content-title {
  background: var(--basic-cloudy-color);
}

.content-title-special {
  color: var(--basic-black);
  margin: 0px;
}

.contact-user-item {
  background: url("../img/other-img/header-background.png") var(--basic-button-color);
  text-align: center;
}

.catalog-contact-link{
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.user-orders:hover{
  color: var(--basic-light-red);
}

.user-cabinet:hover {
  color: var(--basic-light-red);
}

.catalog-contact-link:active {
  color: var(--basic-grey);
}

.catalog-sorting-link:hover{
  color: var(--basic-black);
  opacity: 1;
}

.catalog-sorting-link:active{
  color: var(--basic-light-red);
  }

.catalog-switch-button:active {
    background: var(--basic-light-red);
  }

.popular-goods-container {
    width: 184px;
    height: 164px;
  }

.catalog-popular {
    height: min-content;
    grid-column: 1/-1;
  }

.catalog-goods{
    margin-bottom: 59px;
  }

.catalog-goods-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

.catalog-about-perforators {
    grid-column: 1/-1;
    margin: 0 auto 68px auto;
  }

.special-zeroing {
    margin: 0px;;
  }
.catalog-footer{
    margin-top: 0px
  }

.catalog-nav-list{
  padding: 0px;
  margin: 0px;
}
